env
__pycache__/
log/
.DS_Store
static/
# Elastic Beanstalk Files
backend/.elasticbeanstalk/*
!backend/.elasticbeanstalk/*.cfg.yml
!backend/.elasticbeanstalk/*.global.yml
.venv
.terraform
.idea
aws_service/.idea
aws_service/.venv
aws_service/.lambda_layers
deploy.sh
/backend/.elasticbeanstalk/app_versions/
