option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: charging_system.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "charging_system.settings"
    PYTHONPATH: "$PYTHONPATH"
    Command: ". /opt/elasticbeanstalk/deployment/env && gunicorn --bind 127.0.0.1:8000 charging_system.wsgi:application"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
container_commands:
  01_makemigrations:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py makemigrations --noinput"
    leader_only: true
  02_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate --noinput"
    leader_only: true
  03_superuser:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py createsu"
    leader_only: true
  04_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"
    leader_only: true

